@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-only {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-only {
  @media (max-width: 1800px) {
    @content;
  }
}

@mixin button-style {
  border-radius: 1rem;
  padding: 9px 20px 9px 20px;
  background-color: var(--primary-color);
  border: none;
  color: var(--secundary);
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 0.9rem;

  &:hover {
    color: var(--primary-default-blue);
    opacity: 0.9;
  }
}

@mixin input-style {
  font-size: 0.9rem;
  border-radius: 16px;
  padding: 5px 35px 5px 10px;
}
