@import "./../../assets/scss/mixins.scss";

.signin__container {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: relative;
  background-color: var(--primary-color);

  @include for-phone-only {
    padding: 147px 30px 147px 30px;
  }

  @include for-tablet-portrait {
    padding: 147px 30px 147px 30px;
  }

  @include for-desktop-only{
    padding: 116px 120px 216px 105px;
  }

  &__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    &__animation {
      @include for-phone-only {
        display: none;
      }

      @include for-tablet-portrait {
        display: none;
      }

      @include for-desktop-only {
        display: block;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      &__inner {
        border: 3px solid var(--secundary-default);
        border-radius: 20px;

        input {
          border: 1px solid var(--secundary-default);
          border-radius: 16px;
          padding: 9px 0 9px 18px;
        }

        @include for-phone-only {
          min-width: 320px;
          padding: 80px 32px 80px 32px;
        }

        @include for-tablet-portrait {
          min-width: 474px;
          padding: 80px 32px 80px 32px;
        }

        @include for-desktop-only {
          min-width: 474px;
        }

        &__title {
          color: var(--primary-title);
          font-size: 20px;
          font-weight: 600;
        }

        &__button {
          @include button-style;

          &:disabled {
            color: var(--third-default);
            opacity: 0.9;
            cursor: default;
          }

          &:hover:disabled {
            opacity: 0.9;
          }
        }

        span {
          display: flex;
          position: relative;
          align-items: center;
        }

        &__icon-button {
          background-image: url("../../assets/icons/eye-solid.svg");
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 16px;
          position: absolute;
          right: 5%;
          top: 35%;
          cursor: pointer;

          &.hidden {
            background-image: url("../../assets/icons/eye-slash-solid.svg");
          }
        }
      }

      &__icon {
        background-image: url("../../assets/icons/arrow-back-left.svg");
        background-size: cover;
        background-position: center center;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}
