@import "./../../assets/scss/mixins";

.signin__container {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
  z-index: 2;

  @include for-phone-only {
    padding: 30px;
  }

  @include for-tablet-portrait {
    padding: 100px;
  }

  @include for-desktop-only{
    padding: 0 120px;
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-around;


    &__animation {
      @include for-phone-only {
        display: none;
      }

      @include for-tablet-portrait {
        display: none;
      }

      @include for-desktop-only {
        display: block;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;

      &__inner {
        border: 3px solid var(--secundary-default);
        border-radius: 20px;

        input {
          @include input-style;
        }

        @include for-phone-only {
          min-width: 320px;
          padding: 80px 32px;
        }

        @include for-tablet-portrait {
          min-width: 474px;
          padding: 80px 32px;
        }

        @include for-desktop-only {
          min-width: 474px;
        }

        &__title {
          color: var(--primary-title);
          font-size: 20px;
          font-weight: 600;
        }

        &__button {
          @include button-style;
        }

        span {
          align-items: center;
          display: flex;
          position: relative;
        }

        &__icon-button {
          background-image: url("../../assets/icons/eye-solid.svg");
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          height: 16px;
          position: absolute;
          right: 5%;
          top: 35%;
          width: 18px;

          &.hidden {
            background-image: url("../../assets/icons/eye-slash-solid.svg");
          }
        }
      }

      &__icon {
        background-image: url("../../assets/icons/arrow-back-left.svg");
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        height: 30px;
        width: 30px;

        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}

.form-control{
  &:focus{
    box-shadow: 0 0 5px var(--third-default) !important;
  }
}
