@import '../../../../assets/scss/mixins';


.overlay__container {
  background-color: var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 25%);
  max-width: 150px;
  padding: 10px 10px 0 0;
  position: absolute;
  display: none;
  z-index: 2;
  margin-top: 30px;


  @include for-phone-only{
    right: 30px;
  }

  @include for-tablet-portrait{
    right: 30px;
  }

  @include for-desktop-only{
    right: 30px;
  }

  &.active {
    display: block;
  }


}


