<app-page-template>
  <div class="page-profile__container">
    <div class="page-profile__container__content">
      <form
        [formGroup]="profileForm"
        class="page-profile__container__content__form"
      >
        <figure
          class="page-profile__container__content__form__figure"
          (click)="fileInput.click()"
        >
          <img [src]="image" *ngIf="!preview; else showPreview" />
          <ng-template #showPreview>
            <img [src]="preview" class="page-profile__content__form__figure" />
          </ng-template>
          <ng-container *ngIf="imageProfileUpdated">
            <app-tooltip text="Imagem de perfil atualizada!"></app-tooltip>
          </ng-container>
        </figure>

        <input
          #fileInput
          type="file"
          hidden
          accept="image/*"
          formControlName="file"
          (change)="handleFile($event.target)"
        />

        <div class="page-profile__container__content__form__inner">
          <div class="form-group mb-3">
            <label
              class="page-profile__container__content__form__inner__title mb-3"
              for="name"
              >Nome</label
            >
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="name"
              placeholder="Digite seu nome"
            />
          </div>
          <div class="form-group mb-3">
            <label
              class="page-profile__container__content__form__inner__title mb-3"
              for="email"
              >E-mail</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="Digite seu e-mail"
            />
          </div>
          <div class="row">
            <div class="col-sm-auto col-md-auto col-lg-auto mb-3">
              <label
                class="page-profile__container__content__form__inner__title mb-3"
                for="address"
                >Endereço</label
              >
              <input
                formControlName="address"
                type="text"
                class="form-control"
                id="address"
                placeholder="Digite seu endereço"
              />
            </div>
            <div class="col-sm-auto col-md-auto col-lg-auto mb-3">
              <label
                class="page-profile__container__content__form__inner__title mb-3"
                for="numero"
                >Nº</label
              >
              <input
                formControlName="numero"
                type="text"
                class="form-control"
                id="numero"
                placeholder="Digite o Número"
              />
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-auto col-md-auto col-lg-auto mb-3">
              <label
                class="page-profile__container__content__form__inner__title mb-3"
                for="city"
                >Cidade</label
              >
              <input
                formControlName="city"
                type="text"
                class="form-control"
                id="city"
                placeholder="Digite a cidade"
              />
            </div>
            <div class="col-sm-auto col-md-auto col-lg-auto mb-3">
              <label
                class="page-profile__container__content__form__inner__title mb-3"
                for="state"
                >Estado</label
              >
              <input
                formControlName="state"
                type="text"
                class="form-control"
                id="state"
                placeholder="Digite o estado"
              />
            </div>
            <div class="col-sm-auto col-md-auto col-lg-auto mb-3">
              <label
                class="page-profile__container__content__form__inner__title mb-3"
                for="cep"
                >CEP</label
              >
              <input
                formControlName="cep"
                type="text"
                class="form-control"
                id="cep"
                placeholder="Digite o CEP"
              />
            </div>
          </div>

          <button
            type="submit"
            title="Atualizar dados"
            (click)="onSubmit()"
            id="submit"
            class="page-profile__container__content__form__inner__button"
          >
            Atualizar dados
          </button>
          <ng-container *ngIf="profileUpdated">
            <app-tooltip text="Perfil atualizado com sucesso!"></app-tooltip>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</app-page-template>
