<app-page-template>
  <div class="page-profile__container">
    <form [formGroup]="profileForm" class="page-profile__container__form">
      <figure class="page-profile__container__figure" (click)="fileInput.click()">
        <img [src]="image" *ngIf="!preview; else showPreview"/>
        <ng-template #showPreview>
          <img [src]="preview" class="page-profile__container__img"/>
        </ng-template>
      </figure>
      <input
        #fileInput
        type="file"
        hidden
        accept="image/*"
        formControlName="file"
        (change)="handlefile($event.target)"
      />

      <div class="page-profile__container__form__inner">
        <div class="form-group mb-3">
          <label
            class="page-profile__container__form__inner__title mb-3"
            for="name"
            >Nome</label
          >
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="name"
            placeholder="Digite seu nome"
          />
          <!-- <ng-container *ngIf="profileForm.controls['name'].touched">
            <app-tooltip
              *ngIf="profileForm.get('name')?.errors"
              text="O campo nome é obrigatório"
            ></app-tooltip>
          </ng-container> -->
        </div>
        <div class="form-group mb-3">
          <label
            class="page-profile__container__form__inner__title mb-3"
            for="email"
            >E-mail</label
          >
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="email"
            placeholder="Digite seu e-mail"
          />
          <!-- <ng-container *ngIf="profileForm.controls['email'].touched">
            <app-tooltip
              *ngIf="profileForm.get('email')?.errors"
              text="O campo senha é obrigatório"
            ></app-tooltip>
          </ng-container> -->
        </div>
        <div class="form-group mb-3">
          <label
            class="page-profile__container__form__inner__title mb-3"
            for="address"
            >Endereço</label
          >
          <input
            formControlName="address"
            type="text"
            class="form-control"
            id="address"
            placeholder="Digite seu endereço"
          />
          <!-- <ng-container *ngIf="profileForm.controls['address'].touched">
            <app-tooltip
              *ngIf="profileForm.get('address')?.errors"
              text="O campo senha é obrigatório"
            ></app-tooltip>
          </ng-container> -->
        </div>
        <button
          type="submit"
          title="Atualizar dados"
          (click)="onSubmit()"
          id="submit"
          class="page-profile__container__form__inner__button"
        >
          Atualizar dados
        </button>
      </div>
    </form>
  </div>
</app-page-template>
