@import '../../../assets/scss/mixins.scss';

.menu__container{
  align-items: center;
  background-color: var(--secundary-default);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 22px 20px 22px 20px;
  width: 100vw;
  z-index: 1;
  position: absolute;

  &__menu-list{
    list-style: none;
  }

  &__icon{
    color: var(--primary-color);
  }

  &__user{
    border-radius: 100%;
    cursor: pointer;
    height: 60px;
    width: 60px;

    img{
      height: 60px;
      width: 60px;
    }
  }
}

.overlay-menu{
  animation-duration: 0.5s;
  animation-name: animate-overlay-out;
  background-color: var(--third-default);
  height: 0;
  opacity: 0.2;
  width: 0;

  &.active{
    animation-duration: 0.5s;
    animation-name: animate-overlay-in;
    height: 100vh;
    width: 250px;

    @include for-phone-only{
      width: 100%;
    }
  }
}

@keyframes animate-overlay-in{
  from {
    width: 0;
  }

  to{

    @include for-phone-only{
      width: 100%;
    }

    @include for-tablet-portrait{
      width: 250px;
    }

    @include for-desktop-only{
      width: 250px;
    }
  }
}

@keyframes animate-overlay-out{
  from {
    height: 100vh;
    width: 250px;
  }

  to{
    height: 100vh;
    width: 0;
  }
}

ul {
  padding-left: 10px;
}

ul > li {
  cursor: pointer;
  font-size: 0.9rem;
  list-style: none;
  padding-bottom: 10px;

  &:hover {
    opacity: 0.8;
  }
}


