@import "../../../assets/scss/mixins";

.nav__container {
  align-items: center;
  background-color: var(--secundary-default);
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  display: flex;
  justify-content: space-between;
  padding: 22px;
  position: fixed;
  width: 100vw;
  z-index: 1;

  &__brand {
    color: var(--primary-color);
    font-weight: 900;

    @include for-phone-only {
      display: none;
    }
  }

  &__main-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    &__list {
      list-style: none;
      display: flex;
      gap: 1rem;
      margin: 0;

      &__item {
        font-size: 1.2rem;
        cursor: pointer;
        font-weight: 700;
        color: var(--primary-default);

        &:hover {
          opacity: 0.7;
        }
      }
    }

    @include for-phone-only {
      display: none;
    }
  }

  &__menu-mobile {
    list-style: none;
    display: none;

    &__icon {
      color: var(--primary-color);
      cursor: pointer;
    }

    @include for-phone-only {
      display: block;
    }
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    height: 60px;
    gap:10px;

      img {
        height: 60px;
        width: 60px;
        border-radius: 100%;
      }

    &__overlay {
      padding-left: 10px;

      &__list {
        cursor: pointer;
        font-size: 0.9rem;
        list-style: none;
        padding-bottom: 10px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__side-nav-overlay {
    animation-duration: 0.5s;
    animation-name: animate-overlay-out;
    background-color: var(--third-default);
    height: 0;
    opacity: 0.5;
    width: 0;
    color: var(--secundary);
    padding-top: 120px;
    display: none;

    &__list {
      list-style: none;

      &__item{
        padding-bottom: 1.2rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--secundary);
        font-weight: 700;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &.active {
      animation-duration: 0.5s;
      animation-name: animate-overlay-in;
      height: 100vh;
      width: 250px;

      @include for-phone-only {
        width: 100%;
        display: block;
      }

      @include for-desktop-only {
        display: none;
      }

      @include for-big-desktop-only {
        display: none;
      }
    }
  }
}

@keyframes animate-overlay-in {
  from {
    width: 0;
  }

  to {
    @include for-phone-only {
      width: 100%;
    }

    @include for-tablet-portrait {
      width: 250px;
    }

    @include for-desktop-only {
      width: 250px;
    }
  }
}

@keyframes animate-overlay-out {
  from {
    height: 100vh;
    width: 250px;
  }

  to {
    height: 100vh;
    width: 0;
  }
}
