<nav class="menu__container">
  <div class="menu__container__menu__list" (click)="activeMenu()">
    <fa-icon
      size="xl"
      [icon]="iconBars"
      class="menu__container__icon"
    ></fa-icon>
  </div>
  <div class="menu__container__user" (click)="toggle()">
    <img
      src="./../../assets/images/image-profile.svg"
      alt="Imagem do perfil do usuário"
    />
  </div>
</nav>
<app-overlay [showOverlay]="showOverlay">
  <ng-template #content>
    <ul>
      <li>Meus dados</li>
      <li>Configurações</li>
      <li>Sair do sistema</li>
    </ul>
  </ng-template>
</app-overlay>
<div class="overlay-menu" id="overlay-menu"></div>
