@import '../../../../assets/scss/mixins.scss';

.tooltip__container {
  height: 20px;
  position: relative;

  @include for-phone-only{
    height: 40px;
  }

  &__tooltip {
    background-color: var(--primary-color);
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    color: #f00;
    font-size: 0.8rem;
    left: 10px;
    padding: 3px 5px 5px 3px;
    position: absolute;
    top: 5px;

    &::before{
      background-color: var(--primary-color);
      border-width: 1px 0 0 1px;
      content: '';
      display: block;
      height: 10px;
      left: 5%;
      position: absolute;
      top: -3px;
      transform: rotate(45deg);
      width: 10px;
    }
  }
}
