@import "./../../assets//scss/mixins.scss";

.welcome__container {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
  z-index: 2;


  @include for-phone-only {
    padding: 52px;
  }

  @include for-tablet-portrait {
    padding: 200px;
  }

  @include for-desktop-only {
    padding: 120px;
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    z-index: 1;

    &__card {
      &__title{
        color: var(--primary-title);
        font-size: 24px;
        font-weight: 700;
      }

      &__text{
        color: var(--primary-title);
        font-size: 16px;
      }

      &__button{
        @include button-style;
      }

      @include for-phone-only {
        margin: 1rem;
        max-width: 320px;
      }

    }

    &__animation{
      @include for-phone-only {
        display: none;
      }

      @include for-tablet-portrait {
        display: none;
      }

      @include for-desktop-only{
        display: block;
      }
    }
  }
}
