<main class="welcome-container">
  <!-- <label for="switch"> <input type="checkbox" id="switch" />Dark Mode </label> -->
  <section class="welcome-container__content">
    <img class="welcome-container__content__forms" src="{{formImage}}" />
    <div class="welcome-container__content__card">
      <h4 class="welcome-container__content__card__title">Olá, seja bem vindo</h4>
      <p class="welcome-container__content__card__text">Se já é cadastrado, faça o login!</p>
      <button class="welcome-container__content__card__button" routerLink="login">Entrar</button>
      <p class="welcome-container__content__card__text">Não possui cadastro? Cadastre-se!</p>
      <button class="welcome-container__content__card__button">Realizar Cadastro</button>
    </div>
  </section>
</main>
