@import "./../../assets/scss/mixins";

.signup__container {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
  z-index: 2;

  @include for-phone-only {
    padding: 30px;
  }

  @include for-tablet-portrait {
    padding: 100px;
  }

  @include for-desktop-only{
    padding: 0 300px;
  }


  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include for-phone-only {
      justify-content: center;
    }

    &__animation {
      @include for-phone-only {
        display: none;
      }

      @include for-tablet-portrait {
        display: none;
      }

      @include for-desktop-only {
        display: block;
      }
    }


    &__form {
      display: flex;
      flex-direction: column;


      &__inner {
        border: 3px solid var(--secundary-default);
        border-radius: 20px;

        input {
          @include input-style;
        }

        @include for-phone-only {
          min-width: 320px;
          padding: 80px 32px;
        }

        @include for-tablet-portrait {
          min-width: 474px;
          padding: 80px 32px;
        }

        @include for-desktop-only {
          min-width: 474px;
          padding: 80px 32px;
        }

        &__title {
          color: var(--primary-title);
          font-size: 20px;
          font-weight: 600;
        }

        &__button {
          @include button-style;
        }
      }

      &__icon {
        align-self: flex-start;
        background-image: url("../../assets/icons/arrow-back-left.svg");
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        margin-bottom: 1rem;
        min-height: 30px;
        min-width: 30px;

        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}

.form-control{
  &:focus{
    box-shadow: 0 0 5px var(--third-default) !important;
  }
}
