@import "./../../assets/scss/mixins.scss";

.signup__container {
  background-color: var(--primary-color);
  display: flex;
  height: 100vh;
  position: relative;
  z-index: 2;

  @include for-phone-only {
    flex-direction: column;
  }

  &__content-image {
    display: flex;

    &__image {
      align-items: center;
      background-color: var(--primary-default);
      display: flex;
      justify-content: center;
      padding: 128px 56px 128px 56px;
      width: 600px;

      @include for-phone-only {
        padding: 50px;
        width: 100%;
      }

      @include for-tablet-portrait {
        width: 457px;
      }

      &-inner {
        background: url("../../assets/images/signup-image.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        height: 300px;
        width: 300px;

        @include for-phone-only {
          display: none;
        }
      }
    }
  }

  &__content-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 344px;

    @include for-phone-only {
      align-items: baseline;
      flex-direction: column;
    }

    @include for-tablet-portrait {
      flex-direction: column;
      justify-content: center;
      padding-left: 52px;
    }



      &__form {
        background-color: var(--primary-default);
        border-radius: 20px;
        color: var(--primary-color);
        max-width: 434px;
        padding: 64px 32px 30px 32px;

        input {
          @include input-style;
        }

        @include for-phone-only {
          margin: 50px 26px 135px 26px;
        }


        &__button {
          @include button-style;

          &:disabled {
            color: var(--default-gray);
            cursor: default;
            opacity: 0.9;
          }

          &:hover:disabled {
            opacity: 0.9;
          }
        }
      }

      &__icon{
        align-self: flex-start;
        background-image: url('../../assets/icons/arrow-back-left.svg');
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        margin-bottom: 1rem;
        min-height: 30px;
        min-width: 30px;

      }
  }
}
