<main class="register__container">
  <div class="register__container__content-image">
    <section class="register__container__content-image__image">
      <div class="register__container__content-image__image-inner"></div>
    </section>
  </div>
  <div class="register__container__content-form">
    <section class="register__container__content-form__form">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label class="mb-3" for="userName">Nome</label>
          <input
            formControlName="userName"
            type="text"
            class="form-control"
            id="name"
            placeholder="Digite seu nome"
          />
          <ng-container *ngIf="registerForm.controls['userName'].touched">
            <app-tooltip
              *ngIf="registerForm.get('userName')?.errors"
              text="O campo nome é obrigatório"
            ></app-tooltip>
          </ng-container>
        </div>
        <div class="form-group mb-3">
          <label class="mb-3" for="password">Senha</label>
          <input
            formControlName="password"
            type="text"
            class="form-control"
            id="password"
            placeholder="Digite sua senha"
          />
          <ng-container *ngIf="registerForm.controls['password'].touched">
            <app-tooltip
              *ngIf="registerForm.get('password')?.errors"
              text="O campo senha é obrigatório"
            ></app-tooltip>
          </ng-container>
        </div>
        <div class="form-group mb-5">
          <label class="mb-3" for="confirmPassword">Confirmar senha</label>
          <input
            formControlName="confirmPassword"
            type="text"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirme sua senha"
          />
          <ng-container
            *ngIf="registerForm.controls['confirmPassword'].touched"
          >
            <app-tooltip
              *ngIf="registerForm.get('confirmPassword')?.errors"
              text="O campo confirmar senha é obrigatório"
            ></app-tooltip>
            <app-tooltip
              *ngIf="
                checkPasswordValidation() &&
                !registerForm.get('confirmPassword')?.errors
              "
              text="O campo confirmar senha não confere com o campo senha."
            ></app-tooltip>
          </ng-container>
        </div>
        <button
          [disabled]="registerForm.invalid"
          type="submit"
          title="Acessar o sistema"
          class="register__container__content-form__form__button"
        >
          Acessar sistema
        </button>
      </form>
    </section>
    <a
      title="Retornar a página de boas-vindas"
      class="register__container__content-form__icon mt-4"
      routerLink="/welcome"
    ></a>
  </div>
</main>
